<%- include("../includes/head" , {pageTitle : "An Error Occured"}) %>
</head>
<body>
    <main>
        <h1>Something went wrong!</h1>
        <p>Unfortunately, something went wrong from our side. Please try again later after sometime</p>
        <p><a href="/login" class="btn">Back to safety</a></p>
        
    </main>
</body>
</html>