<!-- sidebar code starts -->
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
</label>
<div class="sidebar">
    <header>Financial Application</header>
    <ul>
        <li><a href="/details"><i class="fa-solid fa-house-user"></i>Home</a></li>
        <li><a href="/transactions"><i class="fa-solid fa-money-bills"></i>Transactions</a></li>
        <li><a href="/predictTransactions"><i class="fa-solid fa-star"></i>Predict Fraud</a></li>
        <li class="logout"><a href="#"><i class="fa-solid fa-right-from-bracket"></i></i>Logout</a></li>
        
    </ul>
</div>

<!-- sidebar code ends -->