    <%- include("../includes/head" ,  {pageTitle : "RJ Police"}) %>
    <link rel="stylesheet" href="/styles/form.css">
    <!-- <link rel="stylesheet" href="/styles/sidebar.css"> -->
    <link rel="stylesheet" href="/styles/details.css">
    </head>
    <body>
        <%- include("../includes/header") %>
        <%- include("../includes/sidebar") %>
        <main>
            <h1>Fraud Detection Using Deep Learning</h1>
            <form action="/prediction1" method="POST">
                <section>
                  <ul>
                    <li>
                      <label for="transaction_id">Transaction ID</label>
                      <input type="number" name="transaction_id" id="transaction_id" required />
                    </li>
                    <li>
                      <label for="category">Merchant Category</label>
                      <input type="number" name="category" id="category" required />
                    </li>
                    <li>
                        <label for="card number">Card Number</label>
                        <input type="number" name="cardnum" id="card number" max="999999999999" required />
                    </li>
                    <li>
                      <label for="amt">Amount</label>
                      <input type="number" name="amount" id="amt" required />
                    </li>
                    <li>
                        <label for="pymt">Payment Domain</label>
                        <input type="number" name="pymt" id="pymt" max="999" required  />
                    </li>
                    <li>
                        <label for="card">Card Type</label>
                        <input type="number" name="card" id="Card Type" required />
                    </li>
                  </ul>
                </section>
                <footer>
                  <section>
                    <button type="reset" class="clear-btn">Clear</button>
                    <button type="submit" class="submit-btn">Submit</button>
                  </section>
                </footer>
              </form>
        </main>
        
      </body>
      </html>


    





