<%- include("../includes/head" ,  {pageTitle : "RJ Police"}) %>
<link rel="stylesheet" href="/styles/details.css">
<link rel="stylesheet" href="/styles/sidebar.css">
</head>
<body>
    <%- include("../includes/header") %>
    <%- include("../includes/sidebar") %>
    <main>
        <h1>Your Transcation is ....................</h1>
        <div>
           <h2>Transcation details</h2>
           <p>
                time : ..................
            </p>
            <p>
                place : ..................
            </p>
            <p>
                delivery address : ........................
            </p>
        </div>
        
    </main>
    
<%- include("../includes/footer") %>








