* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 20px; */

}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-div img {
    height: 300px;
    width: 300px;

}

.detail-heading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
}


.detail-div {
    display: flex;
    margin-top: 20px;
    /* border: 2px solid red; */
}

.name-div {
    /* border: 2px solid green; */
    width: 50%;
}

.name-div p {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.number-div {
    /* border: 2px solid blue; */
    width: 50%;
}

.number-div p {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.heading {
    margin-left: 20%;
}

.detail {
    margin-left: 10%;
}

.address-div,
.account-number-div {
    width: 50%;
}

.detail-heading {
    margin-bottom: 20px;
}

.account-number-div {
    margin-top: 23px;
}

.address-div p,
.account-number-div p {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.address {
    white-space: pre-line;
    height: 70px;
    margin-left: 7%;
    margin-top: 20px;
}

.view-transaction-section {
    margin-top: 50px;
}

.view-transaction-div {
    width: fit-content;
    margin: auto;
}

.view-transaction-link {
    color: black;
    cursor: pointer;
}

main {
    transition: all 1s ease;
}

/* sidebar css starts */
.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    top: 0;
    background: #042331;
    z-index: 9999;
    transform: translateX(0);
    transition: all .8s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease;
}

ul li a:hover{
    transform: translateX(20px);
    transition: all 0.3s ease;
}
.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn {
    position: absolute;
    cursor: pointer;
    left: 40px;
    top: 20px;
    font-size: 35px;
    transition: all 1s ease;
    z-index: 9999;
}

#check:checked~.sidebar {
    left: 0px;

}

#check:checked~main {
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: all 1s ease;

}


#check:checked~label #btn {
    left: 290px;
    transition: all 1s ease;
}

.logout {
    position: absolute;
    bottom: 0;
}

/* sidebar css ends */